@model IEnumerable<Lab8AuthenticationProgram.Models.UserViewModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id ="thistable" class="table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearsInSchool)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() > 2)
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> There are more than 2 users.
        </div>
    }
    @foreach (var item in Model)
    {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsInSchool)
            </td>
            <td>
                <button type="button" class="btn btn-xs">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Todo List", "List", "Todo", new { userId = item.Id }, null)</button>
            </td>
        </tr>
    }

</table>
<button id ="hidetable" type="button" class="btn btn-primary">HideTable</button>
<button id ="unhidetable" type="button" class="btn btn-primary">UnHideTable</button>
@section scripts {
    <script>
        $(document).ready(function () {
            //alert("Hello");
            $("#hidetable").click(function(){
                $("#thistable").hide();
            });
            $("#unhidetable").click(function () {
                $("#thistable").show();
            });
        });
    </script>
}

